/* latin-ext */
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Titillium Web Bold"), local("TitilliumWeb-Bold"),
    url("../fonts/TitilliumWeb-Bold.ttf");
}
